body {
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

table {
  width: 99%;
  border-collapse:collapse;
  margin: 0px auto;
}

th, td {
  border: 1px solid #ddd ;
  padding: 5px;
}

.ui-action {
  cursor: pointer ;
  text-decoration: none ;
  color: #06c !important ;
  padding: 3px ;
  font-weight: bold !important;
}

.ui-action:hover, .ui-action:focus {
  color: #09f;
}


.ui-error-text {
  color:#8a1f11;
}
a.ui-disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none ;
  font-weight: normal !important ;
}


#UINavigation {
  width: 200px;
  float: left ;
}

#UIWorkspace {
  margin-left: 200px ;
  padding-right: 20px ;
  overflow: auto ;
}
