table {
  width: 100%;
  border-collapse:collapse;
  margin: 0px auto;
}

th, td {
  border: 1px solid #ddd ;
  padding: 5px;
}

.ui-action {
  cursor: pointer ;
  text-decoration: none ;
  color: #06c;
  padding: 3px ;
  font-weight: bold ;
}

.ui-action:hover, .ui-action:focus {
  color: #09f;
}


.ui-error-text {
  color:#8a1f11;
}
a.ui-disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none ;
  font-weight: normal ;
}

