html {
  height: 100% ;
}

body {
  height: 100% ;
  font: 0.75em "Veranda", sans-serif;
}

#BannerUI {
  height: 30px;
  border-bottom: 1px solid black;
}

#NavigationUI {
  width: 200px;
  float: left ;
}

#WorkspaceUI {
  margin-left: 200px;
  padding: 5px ;
}

#WorkspaceUI:after {
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}

#FooterUI {
  height: 30px;
  border-top: 1px solid black;
}
